/*Font Face*/
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@media (min-width: 768px) {
    h2 {
        font-family: 'Myriad Pro Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    p {
        font-size: 18px !important;
    }

    .navbar-top {
        height: 56px !important;
    }

    .search-bar .form-inline input {
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        background: #f5f5f5;
        font-size: 13px;
        position: absolute;
        min-width: 100%;
        text-align: center;
    }

    .search-bar .form-inline input:focus {
        background: #ffffff;
    }

    .navbar-bottom .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #feb600;;
        width: 90%;
        padding-bottom: 14px;
        margin: auto auto -24px;
    }

    /*Content*/
    .box-content {
        background: #FFF !important;
        margin-top: 0 !important;
    }

    .breadcrumb {
        background: transparent;
        padding: 26px 0;
        z-index: 2;
        margin-bottom: 0;
        position: absolute
    }

    .breadcrumb > li {
        text-shadow: none;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .breadcrumb > li + li:before {
        content: "/\00a0";
        color: #1a5289;
        top: 5px;
        background-image: none
    }

    .breadcrumb > li.active {
        color: #1a5289;
    }

    .breadcrumb > li > a {
        font-weight: normal;
        letter-spacing: 0;
        color: #1a5289;
    }

    .breadcrumb > li:hover > a {
        color: #1a5289;
    }

    .breadcrumb > li > a:hover {
        text-decoration: underline
    }

    .box-content .row .content-opening {
        padding-top: 105px !important;
    }

    .box-content section.content-opening .row.justify-content-center .content-opening h2{
        font-size: 1.875rem;
        font-weight: 600;
        margin-top: 90px;
        font-family: 'Myriad Pro Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .box-content .row .content-opening p {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.89;
        letter-spacing: normal;
        color: #5a5e72;
    }

    .box-content .row .content-opening img{
        object-fit: contain;
    }

    .box-content .content-keuntungan {
        padding-top: 185px !important;
    }

    .box-content .content-keuntungan div.content-body {
        margin-top: 56px;
    }

    .box-content section.content-keuntungan .row.justify-content-center .col-lg h2 {
        font-size: 1.875rem;
        font-weight: 600;
        color: #feb602;
    }

    .box-content section.content-keuntungan .row.justify-content-center .col-lg.suku-bunga h2 {
        font-size: 1.875rem;
        font-weight: 600;
        margin-top: 46px;
        color: #003d79;
    }

    .box-content .content-keuntungan .content1-valuta img{
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,.2);
        object-fit: contain;
    }

    .box-content .content-keuntungan .content1-calender img{
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,.2);
        object-fit: contain;
    }

    .box-content .content-keuntungan p {
        margin: 33px;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: normal;
        text-align: center;
        color: #1a5289;
    }

    .box-content .content-fleksibilitas {
        padding-top: 192px !important;
    }

    .box-content .content-fleksibilitas .kiri {
        margin-top: 24px;
    }

    .box-content .content-fleksibilitas .kanan {
        margin-top: 24px;
    }

    .box-content section.content-fleksibilitas .col-lg-7 h2 {
        font-size: 1.875rem;
        font-weight: 600;
        margin-left: -3%;
        color: #003d79;
    }

    .box-content .content-fleksibilitas img{
        object-fit: contain;
    }

    .box-content .content-fleksibilitas ul {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: normal;
        color: #1a5289;
    }

    .box-content .content-fasilitas {
        padding-top: 221px !important;
    }

    .box-content .content-fasilitas div#head {
        margin-top: 24px;
    }

    .box-content section.content-fasilitas .row.justify-content-lg-between .text-lg-right h2{
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 1.17;
        letter-spacing: normal;
        color: #003d79;
    }

    .box-content .content-fasilitas p {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: normal;
        text-align: right;
        color: #1a5289;
    }

    .box-content .content-fasilitas .kiri p.text-lg-right br{
        margin-top: 16px;
    }

    .box-content .content-fasilitas div#head .kanan{
        margin-top: 12px
    }

    .box-content .content-fasilitas .kanan .justify-content-between {
        margin-top: 24px;
    }

    .box-content .content-fasilitas .kanan .content-3-mata-uang {
        padding: 6px 20px 12px 20px;
        border-radius: 10px;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
    }

    .box-content .content-fasilitas .kanan h6{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1a5289;
    }

    .box-content .content-fasilitas .kanan .content-3-roll-over {
        padding: 6px 20px 12px 20px;
        border-radius: 10px;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
    }

    .box-content .content-fasilitas .kanan .content-3-mandiri-internet {
        padding: 6px 20px 12px 20px;
        border-radius: 10px;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
    }

    .box-content .content-fasilitas .kanan .content-3-mandiri-internet h6{
        margin-top: 21px;
    }

    .box-content .content-fasilitas .kanan .content-3-mandiri-call {
        padding: 6px 20px 12px 20px;
        border-radius: 10px;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
    }

    .box-content .content-fasilitas .kanan .content-3-mandiri-call h6{
        margin-top: 21px;
    }

    .box-content .content-fasilitas .kanan .content-3-mandiri-sms {
        padding: 6px 20px 12px 20px;
        border-radius: 10px;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
    }

    .box-content .content-fasilitas .kanan .content-3-mandiri-sms h6{
        margin-top: 21px;
    }

    .box-content .content-kredit {
        padding-top: 322px !important;
    }

    .box-content section.content-kredit .row.justify-content-lg-between .text-lg-left h2 {
        font-size: 1.875rem;
        font-weight: 600;
        color: #003d79;
    }

    .box-content section.content-kredit .kiri img {
        object-fit: contain;
        margin-top: -180px;
        float: right;
    }

    .box-content section.content-kredit .kanan {
        margin-top: 24px;
    }
    .box-content section.content-kredit .kanan p {
        padding-right: 50px;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: normal;
        color: #1a5289;
    }

    .box-content .content-kredit .kanan {
        padding: 0 !important;
    }

    .box-content .content-persyaratan {
        padding-top: 241px !important;
    }

    .box-content section.content-persyaratan .row.justify-content-center .col-lg .text-left .card .text-right {
        margin-top: 0;
    }

    .box-content section.content-persyaratan .row.justify-content-center .col-lg h2{
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 1.17;
        color: #1a5289;
    }

    .box-content section.content-persyaratan .row.justify-content-center .text-justify {
        margin-top: 0px;
    }

    .box-content .content-persyaratan .head {
        margin-top: 56px;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: normal;
        color: #1a5289;
    }

    .box-content .content-persyaratan .head .card {
        margin-top: 8px;
        line-height: normal !important;
        width: 90%;
        border-radius: 8px;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
    }

    .box-content .content-persyaratan .head .card .list-group-item {
        border:unset;
    }

    .box-content .content-persyaratan .head p {
        font-size: 18px;
        margin-top: 32px;
    }

    .box-content section.content-footer {
        margin-top: 122px;
        padding-top: 80px;
        background: #fff;
        border-top: 1px solid #eee;
    }

    .box-content .content-footer h5{
        font-size: 1.2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: normal;
        color: #1a5289;
        margin-bottom: 10px;
    }

    .box-content .content-footer a {
        color: grey;
        margin-bottom: 0;
        text-decoration: none;
    }

    .box-content .content-footer a {
        color: #9197a4;
        transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        -webkit-transition: color .25s ease-in-out;
        -o-transition: color .25s ease-in-out
    }

    .box-content .content-footer .row.justify-content-center .call-us p:hover{
        color: #459dda
    }

    .box-content .content-footer p {
        color: #9197a4;
        line-height: 1.8;
        margin-bottom: 0;
    }

    .box-content .content-footer img {
        margin-top: 10px;
        width: 80%
    }

    .box-content section.content-footer .row.justify-content-center .call-us {
        margin-top: 0;
    }

    .box-content section.content-footer .row.justify-content-center .call-us p {
        margin-left: 25px;
    }

    .box-content .content-footer .fa-container {
        color: #9197a4;
        float: left;
        margin-top: 3px;
        font-size: .9rem !important;
        text-align: center;
        width: 20px
    }

    .box-content .logo-support a {
        display: inline-block;
        width: 100px;
        height: 50px;
        background: transparent;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center
    }

    .box-content .logo-support a:nth-child(1) {
        background-image: url("../img/logo-edukasi-masyarakat.jpg");
    }

    .box-content .logo-support a:nth-child(2) {
        background-image: url(../img/logo-ayo-ke-bank.jpg);
    }

    .box-content .logo-support a:nth-child(3) {
        background-image: url(../img/logo-lembaga-simpan-pinjam.jpg);
    }

    .footer-end {
        background: #2469a5 !important;
        padding: 15px 0 !important;
        color: #fff !important;
        text-align: center;
        font-size: .9em
    }

    .footer-end a {
        color: #fff !important;
        margin: 0 5px
    }

    #to-top .fa-angle-up:before {
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        top: 2px
    }

    #to-top {
        background-color: #459dda;
        cursor: pointer;
        display: block;
        height: 56px;
        width: 56px;
        position: fixed;
        right: 88px;
        bottom: 20px;
        z-index: 8;
        padding: 10px 20px;
        font-size: 24px;
        border-radius: 50%
    }

    .chat-icon {
        width: 56px;
        height: 56px;
        line-height: 50px;
        text-align: center;
        z-index: 99999;
        border-radius: 100%;
        cursor: pointer;
        background-color: #3498db;
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-image: url(../img/ic_chat.png);
        float: right
    }

    .chat-icon {
        position: fixed;
        bottom: 19px;
        right: 19px;
    }
}



.body {
    font-size: 16px;
    background-color: #f9f9f9;
    font-family: 'Myriad Pro Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

section {
    min-height: 420px;
}

h2 {
    font-family: 'Myriad Pro Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

p {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

/* Navbar Top*/
.navbar-static-top {
    border-top: 2px solid #feb600;
    margin-bottom: 0;
}

.navbar-top {
    background: #fff;
    border-bottom: 0;
    min-height: 36px;
    height: 40px;
    padding: 0;
}

.navbar-top .container {
    margin-top: -10px;
}

.bahasa-bar .nav {
    line-height: 54px;
}

.bahasa-bar .nav .divider {
    margin-top: 21px
}

.bahasa-bar .divider{
    width: 1px;
    background: #999;
    height: 15px;
    margin: 8px 0;
    opacity: .25
}

.bahasa-bar .nav span {
    font-size: .9rem;
    color: #999;
    padding: 0 10px;
    opacity: .5;
}

.bahasa-bar .nav .active span {
    color: #2469a5;
}

.search-bar .nav {
    position: relative;
}

.utilities-bar {
    flex-direction: column;
    margin-left: -100px;
    float: right;
}

.utilities-bar > li {
    display: inline-block;
}

.utilities-bar > li > a {
    line-height: 36px;
    margin-top: -1px;
    padding: 10px 15px 0;
    display: block;
    color: #fff;
    font-size: .83em
}

.utilities-bar > li.nav-item > a{
    position: relative;
    margin-top: -1px;
    padding-top: 10px;
    padding-left: 35px;
    color: #fff;
    margin-right: 5px;
}

.utilities-bar .nav-item {
    position: relative;
}

.utilities-bar .nav-link {
    padding-top: 10px;
}
.utilities-bar li.nav-item .calculator:focus {
    background: #459dda;
    color: white;
    text-decoration: none;
    border-radius: 0;
}

.utilities-bar .nav-item .dropdown-menu-sm-right {
    position: absolute;
}

.utilities-bar .nav-item div#collapse-calculator.dropdown-menu {
    margin: 0;
    top: 40px;
    border-radius: 0;
    box-shadow: 0 3px 0 rgba(69,157,218,.7) , 1px 1px 3px 0 rgba(0,0,0,.4);
}

.utilities-bar li.nav-item .location:focus {
    background: #459dda;
    color: white;
    text-decoration: none;
    border-radius: 0;
}

.utilities-bar .nav-item div#collapse-location.dropdown-menu {
    margin: 0;
    top: 40px;
    border-radius: 0;
    box-shadow: 0 3px 0 rgba(69,157,218,.7) , 1px 1px 3px 0 rgba(0,0,0,.4);
}

.utilities-bar li.nav-item .contact:focus {
    background: #459dda;
    color: white;
    text-decoration: none;
    border-radius: 0;
}

.utilities-bar .nav-item div#collapse-contact.dropdown-menu {
    margin: 0;
    top: 40px;
    border-radius: 0;
    box-shadow: 0 3px 0 rgba(69,157,218,.7) , 1px 1px 3px 0 rgba(0,0,0,.4);
}


.utilities-bar li .sign-in {
    margin-top: -1px;
    height: 45px;
    background: #feb600;
    padding-top: 11px;
    padding-left: 40px;
    padding-right: 30px;
    margin-left: 10px;
    color: #1a5289;
    font-weight: 600;
    border-radius: 0 0 4px 4px;
    font-size: .83em;
}

.utilities-bar .nav-item div#signin.dropdown-menu {
    margin: 0;
    top: 40px;
    box-shadow: 0 3px 0 rgba(254,182,0,.7);
    padding: 25px 0 25px 0;
}

.utilities-bar .nav-item i.fa-lock {
    font-size: .90em;
    padding-right: 12px;
    position: absolute;
    left: 25%;
    top: 35%;
}

.utilities-bar .nav-item i.fa-chevron-down{
    font-size: .80em;
    position: absolute;
    top: 40%;
    right: 10%;
}


/*Navbar Bottom*/
.navbar-bottom {
    max-height: 70px;
    box-shadow: none;
    background: #fff none;
    border: 0;
    border-bottom: 1px solid #eee;
}

.navbar-bottom .logo-img {
    max-width: 100%;
    height: auto;
    width: 100px;
    margin-top: -18px;
}

.navbar-bottom .navbar-nav {
    margin-bottom: 18px;
    padding-top: 28px;
}

.navbar-bottom .navbar-nav .nav-link{
    padding: 0 20px;
}

.navbar-bottom .navbar-link .nav-link a {
    font-size: 14px;
}

.navbar-bottom .navbar-nav {
    padding: auto;
}
/*End of Header*/

/*Content*/
.box-content {
    background: #FFF !important;
    margin-top: 0 !important;
}

.breadcrumb {
    background: transparent;
    padding: 26px 0;
    z-index: 2;
    margin-bottom: 0;
    position: absolute
}

.breadcrumb > li {
    text-shadow: none;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.breadcrumb > li + li:before {
    content: "/\00a0";
    color: #1a5289;
    top: 5px;
    background-image: none
}

.breadcrumb > li.active {
    color: #1a5289;
}

.breadcrumb > li > a {
    font-weight: normal;
    letter-spacing: 0;
    color: #1a5289;
}

.breadcrumb > li:hover > a {
    color: #1a5289;
}

.breadcrumb > li > a:hover {
    text-decoration: underline
}

.box-content .content-opening {
    padding-top: 50px;
}

.box-content .content-opening .row {
    padding: 0 15px 0px 15px;
}

.box-content .row .d-sm-block {
    margin-top: 50px;
}

.box-content .row .content-opening {
    padding-top: 50px;
}

.box-content .row .content-opening h2{
    font-size: 1.5rem;
    line-height: 1.53;
    color: #feb602;
    margin-bottom: 16px;
}

.box-content .row .content-opening p {
    line-height: 1.89;
    color: #5a5e72;
}

.box-content .row .content-opening img{
    object-fit: contain;
}

.box-content .content-keuntungan {
    padding-top: 80px;
}

.box-content .content-keuntungan div.content-body {
    margin-top: 56px;
}

.box-content .content-keuntungan h2 {
    font-size: 1.5rem;
    color: #feb602;
}

.box-content .content-keuntungan .suku-bunga h2 {
    font-size: 1.5rem;
    margin-top: 46px;
    color: #003d79;
}

.box-content .content-keuntungan .content1-valuta img{
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.2);
    object-fit: contain;
}

.box-content .content-keuntungan .content1-calender img{
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.2);
    object-fit: contain;
}

.box-content .content-keuntungan p {
    margin: 33px;
    line-height: 1.72;
    text-align: center;
    color: #1a5289;
}

.box-content .content-fleksibilitas {
    padding-top: 80px;
}

.box-content .content-fleksibilitas .kiri {
    margin-top: 24px;
}

.box-content .content-fleksibilitas .kanan {
    margin: 0 15px 0px -5px;
    margin-top: 24px;
}

.box-content .content-fleksibilitas h2 {
    font-size: 1.5rem;
    color: #003d79;
}

.box-content .content-fleksibilitas img{
    object-fit: contain;
}

.box-content .content-fleksibilitas ul {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #1a5289;
}

.box-content .content-fasilitas {
    padding-top: 80px;
}

.box-content .content-fasilitas div#head {
    margin-top: 24px;
}

.box-content .content-fasilitas h2{
    line-height: 1.17;
    letter-spacing: normal;
    color: #003d79;
}

.box-content .content-fasilitas p {
    line-height: 1.72;
    color: #1a5289;
}

.box-content .content-fasilitas .kiri p.text-lg-right br{
    margin-top: 16px;
}

.box-content .content-fasilitas div#head .kanan{
    margin-top: 12px
}

.box-content .content-fasilitas .kanan .justify-content-between {
    margin-top: 24px;
}

.box-content .content-fasilitas .kanan .content-3-mata-uang {
    padding: 6px 20px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.box-content .content-fasilitas .kanan h6{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a5289;
}

.box-content .content-fasilitas .kanan .content-3-roll-over {
    padding: 6px 20px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.box-content .content-fasilitas .kanan .content-3-mandiri-internet {
    padding: 6px 20px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.box-content .content-fasilitas .kanan .content-3-mandiri-internet h6{
    margin-top: 21px;
}

.box-content .content-fasilitas .kanan .content-3-mandiri-call {
    padding: 6px 20px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.box-content .content-fasilitas .kanan .content-3-mandiri-call h6{
    margin-top: 25px;
}

.box-content .content-fasilitas .kanan .content-3-mandiri-sms {
    padding: 6px 20px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.box-content .content-fasilitas .kanan .content-3-mandiri-sms h6{
    margin-top: 21px;
}

.box-content .content-fasilitas .mobile-ver .rectangle img{
    margin-top: 12px;
    padding: 6px 20px 12px 20px;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.box-content .content-fasilitas .mobile-ver .rectangle h6{
    margin-top: 24px;
    font-weight: 600;
}

.box-content .content-kredit {
    padding-top: 80px;
}

.box-content .content-kredit h2 {
    font-size: 1.5rem;
    color: #003d79;
}

.box-content .content-kredit .kiri img {
    object-fit: contain;
}

.box-content .content-kredit .kiri .d-flex {
    padding: 40px;
}

.box-content .content-kredit .kanan {
    margin-top: 24px;
}
.box-content .content-kredit .kanan p {
    padding-right: 50px;
    line-height: 1.72;
    color: #1a5289;
}

.box-content .content-kredit .kanan {
    padding: 2px 0px 0px 50px;
}

.box-content .content-persyaratan {
    padding-top: 80px;
    margin-bottom: 40px;
}

.box-content .content-persyaratan .col-lg .text-left .card .text-right {
    margin-top: -20px;
}

.box-content .content-persyaratan h2{
    line-height: 1.17;
    color: #1a5289;
}
.box-content .content-persyaratan .head {
    margin-top: 46px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #1a5289;
}

.box-content .content-persyaratan .head .card {
    margin-top: 8px;
    line-height: normal !important;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

.box-content .content-persyaratan .head .card .list-group-item {
    border:unset;
}

.box-content .content-persyaratan .head p {
    margin-top: 32px;
}

.box-content .content-persyaratan .text-justify {
    margin-top: 20px;
    padding-right: 25px;
}

.box-content .content-persyaratan row .col-lg .text-justify {
    margin-left: -10px;
    padding-right: 20px;
}
.box-content .content-footer {
    padding-top: 15px;
    background: #fff;
    border-top: 1px solid #eee;
}

.box-content .content-footer .text-left {
    padding-left: 20px;
}

.box-content .content-footer h5{
    font-size: 1.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #1a5289;
    margin-bottom: 10px;
}

.box-content .content-footer a {
    color: grey;
    margin-bottom: 0;
    text-decoration: none;
}

.box-content .content-footer a {
    color: #9197a4;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out
}

.box-content .content-footer .call-us p:hover{
    color: #459dda
}

.box-content .content-footer p {
    color: #9197a4;
    line-height: 1.8;
    margin-bottom: 0;
}

.box-content .content-footer img {
    margin-top: 10px;
    width: 80%
}

.box-content .content-footer .call-us {
    margin-top: 14px;
}

.box-content .content-footer .call-us p {
    margin-left: 25px;
}

.box-content .content-footer .fa-container {
    color: #9197a4;
    float: left;
    margin-top: 3px;
    font-size: .9rem !important;
    text-align: center;
    width: 20px
}

.box-content .logo-support a {
    display: inline-block;
    width: 100px;
    height: 50px;
    background: transparent;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

.box-content .logo-support a:nth-child(1) {
    background-image: url("../img/logo-edukasi-masyarakat.jpg");
}

.box-content .logo-support a:nth-child(2) {
    background-image: url(../img/logo-ayo-ke-bank.jpg);
}

.box-content .logo-support a:nth-child(3) {
    background-image: url(../img/logo-lembaga-simpan-pinjam.jpg);
}

.footer-end {
    margin-top: 48px;
    background: #2469a5 !important;
    padding: 15px 0 !important;
    color: #fff !important;
    text-align: center;
    font-size: .9em
}

.footer-end a {
    color: #fff !important;
    margin: 0 5px
}

#to-top .fa-angle-up:before {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 2px
}

#to-top {
    background-color: #459dda;
    cursor: pointer;
    display: block;
    height: 56px;
    width: 56px;
    position: fixed;
    right: 88px;
    bottom: 20px;
    z-index: 8;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 50%
}

.chat-icon {
    width: 56px;
    height: 56px;
    line-height: 50px;
    text-align: center;
    z-index: 99999;
    border-radius: 100%;
    cursor: pointer;
    background-color: #3498db;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../img/ic_chat.png);
    float: right
}

.chat-icon {
    position: fixed;
    bottom: 19px;
    right: 19px;
}
